# JupyterLab関連のパッケージ（いくつかの拡張機能を含む）
jupyterlab
jupyterlab-language-pack-ja-JP
black
isort
jupyterlab_code_formatter
jupyterlab-git
lckr-jupyterlab-variableinspector
jupyterlab_widgets
ipywidgets
import-ipynb
jupyterlab-lsp
python-lsp-server[all]


# 基本パッケージ
numpy
pandas
scipy
scikit-learn
pycaret
matplotlib
japanize-matplotlib
mlxtend
seaborn
plotly
requests
beautifulsoup4
Pillow
opencv-python


# 追加パッケージ
pydeps
graphviz
ydata-profiling
shap
umap
xgboost
lightgbm
